:root{
    --colorOne : #D10A27;
    --colorTwo : #1e1e1e ;
    --colorThree : #090909 ;
    --colorFour : #ffff ; 
}

.trending {
    padding-top: 50px;
    background-color: var(--colorThree) ;
    padding-bottom: 60px;
}
.trending .title-page{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.trending .container{
    display: flex;
    justify-content: center;
}
@media (max-width: 1900px ){
    .trending-cards{
        width: 85%;
    }
}
@media (max-width: 1400px ){
    .trending-cards{
        width: 100%;
    }
}

.btns-pages{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns-pages button{
    width: 100px;
    height: 35px;
    border: solid 0px transparent;
    border-radius: 15px;
    background-color: var(--colorFour);
    color: var(--colorThree);
}
.btns-pages div{
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: rgb(123, 123, 123);
    color: var(--colorFour);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.filter-trend-btns{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.filter-trend-btns button{
    height: 60px;
    width: 220px;
    border: 3px solid var(--colorFour);
    border-radius: 15px;
    background-color: transparent;
    color: var(--colorFour);
    font-size: 20px;
}
.filter-trend-btns button.active{
    background-color: var(--colorOne);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 798px ){
    .filter-trend-btns{
        width: 100%;
        justify-content: space-around;
    }
    .filter-trend-btns button{
        width: 150px;
        height: 50px;
    }
}