@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;500&family=Work+Sans:wght@200;300;500;600;700;800&display=swap');

.App{
    font-family: 'Josefin Sans', sans-serif;
}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */
